:root {
    --blue-cta: #528DE5;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    max-width: 1500px;
    padding: 0;
}

.row{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
}

.navbar-dark{
    background: linear-gradient(180deg, rgba(89, 89, 89, .3) 0, rgba(89, 89, 89, .08) 68.97%, rgba(89, 89, 89, 0) 100%);
}

#mainNav {
    background-color: #212529;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#mainNav .navbar-toggler {
    font-size: .75rem;
    font-weight: 700;
    padding: .75rem;
    text-transform: uppercase;
}

#mainNav .navbar-nav:first-of-type{
    border-bottom: 1px solid #fff;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: .95rem;
    letter-spacing: .0625em;
    opacity: .8;
    transition: .2s ease-in-out;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    opacity: 1;
} 

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
    }
    #mainNav .navbar-nav .nav-item {
        margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}

header.masthead {
color: #fff;
background-image: url("./assets/img/Home.png");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
background-size: cover;
height: 100vh;
padding: 7rem 7rem 6rem;
text-align: center;
}
header.masthead .masthead-subheading {
font-size: .6rem;
line-height: 1rem;
margin-bottom: 5px;
}
header.masthead .masthead-heading {
font-size: 3.25rem;
font-weight: 700;
line-height: 3.25rem;
letter-spacing: .1em;
margin-bottom: 1rem;
}
header img{
    width: 40%;
}
header div.container{
    text-align: left;
}

@media (min-width: 768px) {
    header.masthead {
        padding: 8rem 15rem 12.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: .8rem;
        font-weight: 700;
        line-height: 1rem;
        margin-bottom: .1rem;
    }
    header.masthead .masthead-heading {
        font-size: 3rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: .05em;
        margin-bottom: 3rem;
    }
}

header img.arrowDown{
    cursor: pointer;
    transition: .5s ease-in-out;
    width: 2rem;
}

header img.arrowDown:hover{
    opacity: .5;
}

.flagContainer{
    margin-top: .6rem;
}

.flagContainer p{
    margin-top: .1rem;
}

.flagDiv{
    color: #fff;
    cursor: pointer;
    filter: saturate(0);
    opacity: .8;
    transition: .2s ease-in-out;
}

.flag{
    height: 20px;
    width: 20px;
}

.flagDiv:hover, .flag2{
    color: #fff;
    filter: saturate(1);
    opacity: 1;
    text-decoration: none;
}

.paddingXaxis{
    padding: 17rem 5rem 12.5rem 15rem;
}

.btn-contact{
    border:1px solid #fff;
    transition: .2s ease-in-out;
}

.btn-contact:hover{
    background-color: rgba(255, 255, 255, .404) !important;
    border:1px solid #fff;
    color: #fff;
}

.divisionLine{
    background: #0C2029;
    height: 3px;
    width: 50px;
}

.titleHighlighted{
    background-color: #fff;
    color: #0C2029;
    display: inline-block;
    font-weight: 700;
    height: 48px;
    letter-spacing: .15em;
}

header div.container{
    border-bottom: 1px solid #fff;
}

.sectionPadding{
    padding: 5rem 15rem 1rem;
}

.sectionPadding1{
    padding: 2rem 15rem 0;
}

.sectionPadding2{
    padding: 5rem 15rem 0;
}

.fjalla{
    font-family: 'Fjalla One', sans-serif !important;
}

.sectionTitle{
    font-size: 3rem;
    letter-spacing: .03em;
}

.sectionSubtitle{
    font-size: 1.5rem;
    letter-spacing: .1em;
}

.sectionDescription{
    font-weight: 700;
    font-size: .87rem;
    letter-spacing: .1em;
    line-height: 1.1rem;
    width: 50%;
}

.txt-black{
    color: #313131;
    opacity: .6;
}
.btn-blue-cta{
    background: var(--blue-cta);
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .03em;
    line-height: 1.1rem;
    padding: .5rem 1.2rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.btn-blue-cta:hover{
    background: #fff;
    box-shadow: 0 8px 23px -1px #999;
}
.btn-transparent{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .03em;
    text-transform: uppercase;
    padding: .5rem 1.2rem;
    transition: all .3s ease-in-out;
}
.btn-transparent:hover{
    background: #fff;
    box-shadow: 0 8px 23px -1px #999;
}

/* INFO */

#carouselExampleFade{
    height: 50vh;
}
.carousel-control-prev{
    width: 30%;
}
.carousel-control-next{
    width: 30%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #C4C4C4;
}
.infoCarousel{
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: .08em;
}
.carouselArrow{
    color: #1D416E;
}
.infoDiv{
    background-color: #1D416E;
    text-align: center;
}
.infoDiv h3{
    font-size: 3rem;
    letter-spacing: .1em;
    margin-bottom: 1rem;
}
.borderR{
    border-right: 2px solid #fff;
}
.infoDiv p{
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: .08em;
}
.infoItem{
    opacity: .7;
    transition: .3s ease-in-out all;
}
.infoItem:hover{
    opacity: 1;
}
.infoItem i{
    font-size: 2rem;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 1rem;
}

/* TRANKS */

.thanksDiv{
    background: 
        linear-gradient(180deg, #1D416E 5.19%, rgba(46, 73, 107, 0) 100%),
        url("./assets/img/Agradecimiento.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 100%;
    height: 60%;
}
.thanksItem{
    background-color: #2E496B;
    border-radius: 100px;
}
.thanksItem i{
    font-size: 4rem;
    padding: 2rem 1.5rem;
}
.thanksItem2 p{
    font-size: .8rem;
    line-height: 18px;
    letter-spacing: .1em;
}
.thanksDescriptionDiv ul{
    list-style: none; 
    font-weight: 400;
    font-size: .8rem;
    line-height: 18px;
    letter-spacing: .1em;
}
.thanksDescriptionDiv ul i{
    font-size: .5rem;
    color: var(--blue-cta);
}

/* SERVICES 1*/

.services1{
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0% 15%);
    background-color: #EDEDED;
    height: 100vh;
}
.serviceItem{
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0);
    transition: .7s ease-in-out all;
}
.serviceItem:hover{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 10px 2px rgba(0, 0, 0, .15);
}
.serviceItem h4{
    font-weight: bolder;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: .1em;
}
.serviceItem p{
    font-weight: 700;
    font-size: .7rem;
    line-height: 1.1rem;
    letter-spacing: .1em;
}

/* SERVICES 2*/

.services2{
    background-color: #EDEDED;
    height: 50%;
}
.services2Div{
    height: 50%;
}
.services2 p{
    font-weight: bolder;
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .1em;
}
.services2 i{
    color: #2e4c6b;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 50px;
    padding: 1rem;
}
.services2 div.service2Item {
    text-align: center;
    opacity: .6;
    transition: .3s ease-in-out all;
}
.services2 div.service2Item:hover {
    opacity: 1;
}
.servicesDescription p{
    font-size: .8rem;
    letter-spacing: .1em;
    margin-bottom: 0;
    padding: .3rem 0;
}
.servicesDescription i{
    color:var(--blue-cta);
    padding-right: 5px;
}
.servicePrimary{
    font-weight: 700;
}
.serviceSecondary{
    margin-left: 19px;
}

/* SOLUTIONS */

.solutionsDiv{
    position: relative;
    width: 50%;
}
.solutionsText{
    position: absolute;
    z-index: 2;
}
.stepsDiv{
    height: 100vh;
}
.step {
    height: 80%;
}
.step:hover{
    height: 100%;
}
.step1{
    background: 
        linear-gradient(180deg, rgba(168, 168, 168, .85) 0%, rgba(168, 168, 168, .425) 100%),
        url("./assets/img/Paso1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: 130%;
    transition: .5s ease-in-out all;
}
.step1:hover{
    background: 
        linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
        url("./assets/img/Paso1.jpg");
    background-position-x: center;
    background-size: 130%;
    display: flex;
}
.step2{
    background: 
        linear-gradient(180deg, rgba(168, 168, 168, .85) 0%, rgba(168, 168, 168, .425) 100%),
        url("./assets/img/Paso2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: 130%;
    transition: .5s ease-in-out all;
}
.step2:hover{
    background: 
        linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
        url("./assets/img/Paso2.jpg");
    background-position-x: center;
    background-size: 130%;
}
.step3{
    background: 
        linear-gradient(180deg, rgba(168, 168, 168, .85) 0%, rgba(168, 168, 168, .425) 100%),
        url("./assets/img/Paso3.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: 130%;
    transition: .5s ease-in-out all;
}
.step3:hover{
    background: 
        linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
        url("./assets/img/Paso3.jpg");
    background-position-x: center;
    background-size: 130%;
}
.step4{
    background: 
        linear-gradient(180deg, rgba(168, 168, 168, .85) 0%, rgba(168, 168, 168, .425) 100%),
        url("./assets/img/Paso4.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: 130%;
    transition: .5s ease-in-out all;
}
.step4:hover{
    background: 
        linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
        url("./assets/img/Paso4.jpg");
    background-position-x: center;
    background-size: 130%;
}
.stepNumber{
    font-size: 4rem;
}
.stepName{
    font-size: 1.3rem;
    line-height: 1.7rem;
    letter-spacing: .1em;
    width: 150px;
}
.stepDescription{
    position: relative;
    bottom: 0;
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .1em;
    width: 70%;
    display: none;
}
.step:hover .stepDescription{
    display:flex;
}
.stepContainer{
    position: absolute;
    bottom:0;
}

/* ABOUT */

.aboutDiv{
    background:
        linear-gradient(1.71deg, rgba(10, 29, 36, .7) 1.07%, rgba(255, 255, 255, 0) 98.19%),
        url("./assets/img/About.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: 63%;
    background-position-y: 52%;
    background-size: 100%;
    height: 73%;
    width: 100%;
}
.aboutDiv1{
    width: 100%;
}
.logoSyscom{
    width: 50%;
}

/* BRAND CAROUSEL START */
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
}
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
}
.slider {
    background: pr;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 80px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    align-items: center;
    width: calc(250px * 14);
}
.slider .slide {
    height: auto;
    width: 90%;
}
.brand{
    width: 45%;
    opacity: .7;
}

/* BRAND CAROUSEL END */

.aboutBrandDiv h4{
    text-align: center;
}


/* CONTACT */
.contactDiv{
    background: 
        linear-gradient(.04deg, #0A1D24 .2%, rgba(196, 196, 196, 0) 99.57%),
        url("./assets/img/Contacto.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: 50%;
    background-position-y: 40%;
    background-size: 180%;
    position: relative;
}
.contactContainer{
    position: absolute;
    bottom: 0;
}
.checkListContainer{
    max-width: 30%;
}
.formContainer{
    background: #528de5b7;
    width: 60%;
    margin: .2rem 3rem 0;
}
.formContainer label{
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .2em;
}
.formContainer input:focus{
    outline: none;
}
.formContainer div.formDirection i{
    font-size: .8rem;
}
.formContainer div.formDirection p{
    font-weight: 600;
    font-size: .8rem;
    line-height: .8rem;
    letter-spacing: .1em;
}
.btn-enviar{
    background: #2E496B;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    font-size: .8rem;
    line-height: 1.1rem;
    text-align: center;
    letter-spacing: .2em;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s ease-in-out;
}
.btn-enviar:hover{
    background: #fff;
}
.checkList i{
    background-color: transparent;
    color: rgba(255, 255, 255, .548);
    font-size: .7rem;
    padding: .3rem;
    margin-right: 1.5rem;
    border-radius: 50px;
    border:2px solid var(--blue-cta);
    transition: all .3s ease-in-out;
}
.checkList{
    opacity: .5;
    max-width: 300px;
    transition: all .3s ease-in-out;
}
.checkList:hover{
    opacity: 1;
}
.checkList:hover i{
    background-color: #528DE5;
    color: #fff;
}
.checkDescription h4, p{
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: .1em;
}

.checkListLine {
	position: absolute;
	background-color: #fff;
	width: 2px;
    height: 49.5px;
	left: 12px;
}
.checkListLine0 {
	top: 62px;
}
.checkListLine1 {
	top: 137px;
}
.checkListLine2 {
	top: 212px;
}

/* CLIENTS */
.clientsDiv{
    background-image: url("./assets/img/Map.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}
.clientsDiv ul{
    font-size: .8rem;
    letter-spacing: .1em;
}
.clientsDiv li{
    padding: .5rem 2rem;
    margin-bottom: .2rem;
    transition: .5s ease-in-out all;
}
.clientsDiv li:hover{
    background-color: rgba(82, 141, 229, .8);
}
.clientsDiv img.client{
    filter: saturate(0);
    opacity: .5;
    transition: .3s ease-in-out all;
}
.clientsDiv img.client:hover{
    filter: saturate(1);
    opacity: 1;
}
.client1, .client2, .client3, .client4, .client5, .client11 {
    width:16%;
}
.client6, .client7, .client8, .client9, .client10 {
    width:7%;
}

/* BLOG */
.blogDiv{
    background: 
        linear-gradient(180deg, rgba(46, 73, 107, .5) 0%, rgba(46, 73, 107, 0) 100%),
        url("./assets/img/Blog.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: 40%;
    background-size: cover;
    height: 50%;
}
.blogDiv h5{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 23px;
    letter-spacing: .03em;
    margin-bottom: 0;
}
.blogDiv p{
    font-size: .8rem;
}
.blogPost{
    width: 200px;
    height: 300px;
}
.blogItem{
    transition: .3s ease-in-out;
}
.blogItem:hover{
    cursor: pointer;
    background-color: #ebebeb !important;
}
.readMore{
    color: #2E496B;
    transition: .3s ease-in-out;
}
.readMore:hover{
    color: #487ab385;
}
.readMore i{
    font-size: .6rem;
    margin-top: .1rem;
}

/* FOOTER */
.footerDiv{
    background-color: #0A1D24;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
    height:50%;
}
.copyDiv{
    position: absolute;
    bottom: 0;
    width: 66%;
    padding-bottom: 0;
    margin: 0 15rem;
    margin-bottom: 0;
}
.copyright{
    background-color: rgba(82, 141, 229, .8);
    text-align: center;
    letter-spacing: .2rem;
    font-size: .8rem;
    padding: 1rem 0;
    margin: 0;
    width: 100%;
}
.footerTittle{
    font-weight: 400;
    font-size: 1rem;
    line-height: 23px;
    letter-spacing: .1em;
    margin-bottom: 4px;
}
.footerLine{
    background: #FCFCFC;
    width: 25%;
    height: 1vh;
}
.footerDiv div.rrss i{
    color: #0A1D24;
    background-color: #fff;
    padding: 6px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    cursor: pointer;
}
.footerDiv div.rrss i:hover{
    background-color: rgba(255, 255, 255, .384);
}
.fa-facebook-f{
    padding: 5px 8px !important;
}
.footerDiv img{
    width: 28%;
}
.footerDiv p {
    font-size: .8rem;
    letter-spacing: .1em;
    font-weight: lighter;
    line-height: 1.1rem;
}
.footerDiv input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: .5s ease-in-out;
}
.footerDiv input:hover{
    background-color: #fff;
}
.footerDiv input:focus{
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(82, 141, 229, .8);
}
.footerDiv input::placeholder {
    color: #fff;
    opacity: .6; 
    font-size: .7rem;
    letter-spacing: .1em;
}
.footerDiv button{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .03em;
    padding: .3rem .5rem;
    transition: .5s ease-in-out;
}
.footerDiv button:hover{
    background-color: rgba(82, 141, 229, .8);
    border: 1px solid rgba(82, 141, 229, .8);
    color: #fff;
}

/* WHATSAPP FACEBOOK MESSENGER Y MAIL*/

.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10.5%;
    right: 2.4%;
    border-radius: 50px;
    z-index: 100;
}
.messengerIcon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 17%;
    right: 1.5%;
    border-radius: 50px;
    z-index: 100;
}
.emailIcon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 1.5%;
    border-radius: 50px;
    z-index: 100;
}
.contactItemsContainer:hover .my-float{
    filter:blur(1px);
    opacity:.5;
    transform: scale(.98);
    transition: .5s ease-in-out;
}
.contactItemsContainer:hover .my-float:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    section{
        height: auto;
    }
    .sectionPadding{
        padding: 5rem 2rem 1rem;
    }
    .sectionPadding1{
        padding: 1rem 2rem 0;
    }
    .sectionPadding2{
        padding: 5rem 2rem 0;
    }
    .paddingXaxis{
        padding: 1rem;
    }

    .sectionTitle{
        font-size: 1.5rem;
    }
    .sectionDescription{
        font-size: .8rem;
        line-height: 1.1rem;
        letter-spacing: .1em;
        width: 100%;
    }

    #mainNav {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        transition: padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
    }

    /*MASTERHEAD*/
    header.masthead {
        background-position-x: 10%;
        background-size: cover;
    }
    header.masthead {
        padding: 15rem 2rem 12.5rem;
    }
    header.masthead .masthead-subheading {
        font-size: .6rem;
    }
    header.masthead .masthead-heading {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: .03em;
        margin-bottom: 1.5rem;
    }
    header img{
        width: 70%;
    }
    .titleHighlighted{
        height: 32px;
    }

    /* INFO */
    .carousel-control-prev{
        width: 10%;
    }
    .carousel-control-next{
        width: 10%;
    }
    .infoCarousel{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .infoDiv h3{
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }
    .infoDiv h3.borderR{
        border-right: none;
    }
    .infoDiv p{
        font-size: .5rem;
        line-height: .8rem;
        padding: 0 .5rem;
    }
    .infoItem{
        opacity: 1;
    }

    /* TRANKS */

    .thanksDiv{
        background-position-x: 70%;
        background-size: cover;
        height: 50vh;
    }
    .thanksItem i{
        font-size: 2rem;
        padding: 2rem 1.7rem;
    }
    .thanksItem2 p{
        font-size: .6rem;
    }
    .thanksDescriptionDiv h4{
        font-size: 1.1rem;
    }
    .thanksDescriptionDiv p{
        font-size: .6rem;
    }
    .thanksDescriptionDiv ul{
        font-size: .6rem;
        padding-left: 0;
    }

    /* SERVICES 1*/

    .services1{
        clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
        height: auto;
    }
    .serviceItem img{
        width: 20%;
    }
    .serviceItem h4{
        margin: 0;
    }
    .serviceItem p{
        font-size: .6rem;
    }

    /* SERVICES 2*/
    .services2{
        height: auto;
    }
    .services2Div{
        height: 35vh;
    }
    .services2Container h4{
        font-size: 1.1rem;
        padding: .5rem 0;
    }
    .servicesDescription{
        height: auto;
    }
    .servicesDescription p{
        font-size: .5rem;
        padding: .1rem 0;
    }

    /* SOLUTIONS */
    .solutionsDiv{
        position: relative;
        width: 50%;
    }
    .solutionsText{
        position: absolute;
        z-index: 2;
    }
    .step {
        height: auto;
    }
    .step1{
        background-size: cover;
        height: 40%;
    }
    .step2{
        background-position-y: center;
        background-size: cover;
        height: 20%;
    }
    .step3{
        background-position-y: 78%;
        background-size: cover;
        height: 20%;
    }
    .step4{
        background-position-y: 8%;
        background-size: cover;
        height: 20%;
    }
    .stepNumber{
        font-size: 3rem;
    }
    .stepName{
        font-size: 1.1rem;
        padding-left: 4px;
    }
    .stepDescription{
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: .6rem;
    }
    .stepContainer{
        display: flex;
        flex-direction: row;
    }
    .step1:hover{
        background: 
        linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
        url("./assets/img/Paso1.jpg");
        background-size: cover;
        height: 40%;
    }
    .step2:hover{
        background: 
            linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
            url("./assets/img/Paso2.jpg");
            background-position-y: center;
            background-size: cover;
            height: 20%;
    }
    .step3:hover{
        background: 
            linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
            url("./assets/img/Paso3.jpg");
            background-position-y: 78%;
            background-size: cover;
            height: 20%;
    }
    .step4:hover{
        background: 
            linear-gradient(180deg, #2E496B 7.16%, rgba(30, 30, 30, .3) 100%),
            url("./assets/img/Paso4.jpg");
        background-position-y: 8%;
        background-size: cover;
        height: 20%;
    }

    /* ABOUT */
    .aboutDiv{
        background-position-x: 43%;
        background-size: cover;
        height: 70vh;
    }
    .aboutBrandDiv h4{
        font-size: 1.1rem;
    }
    .logoSyscom{
        width: 100%;
    }
    .aboutBrandDiv{
        height:30vh;
    }

    /* CONTACT */
    .contactDiv{
        background-position-x: 55%;
        background-size: cover;
        height: auto;
    }
    .contactContainer{
        position: relative;
        bottom: 0;
    }
    .checkList{
        opacity: 1;
        width: 300px;
    }
    .formContainer{
        position: relative;
        background: #528de5b7;
        width: 100%;
        margin: .2rem 0 0;
    }

    /* CLIENTS */
    .clientsDiv{
        height: auto;
    }
    .clientsDiv h4{
        font-size: 1.1rem;
    }
    .clientsDiv ul{
        font-size: .6rem;
    }
    .clientsDiv li{
        padding: 0;
    }
    .clientsDiv img.client{
        opacity: .8;
    }

    /* BLOG */
    .blogDiv{
        height: auto;
    }
    .blogItem{
        margin-bottom: 10px;
    }

    /* FOOTER */
    .footerDiv{
        height:auto;
    }
    .copyDiv{
        position: relative;
    }
    .copyright{
        background: red;
        letter-spacing: .08rem;
        font-size: .5rem;
        padding: 1rem 0;
        width: 100%;
    }
    .footerTittle{
        font-size: .8rem;
    }
    .footerLine{
        width: 15%;
        height: .5vh;
    }
    .footerDiv input{
        width: 100%;
        padding: .3rem .5rem;
        text-align: center;
    }
    .footerDiv button{
        width: 100%;
        padding: .5rem;
    }

    /* WHATSAPP FACEBOOK MESSENGER Y MAIL*/
    .whats-app {
        width: 40px;
        height: 40px;
        bottom: 9%;
        right: 10%;
    }
    .messengerIcon {
        width: 40px;
        height: 40px;
        bottom: 14%;
        right: 7%;
    }
    .emailIcon {
        width: 40px;
        height: 40px;
        bottom: 1%;
        right: 7%;
    }

}
  
/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .copyright {
        background: blue;
    }

}  

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .example {background: orange;}
}  */
  